<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">
        Especialistas de {{ listaEspecialista.specialtyName }}
      </div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="mt-7">
    <div *ngFor="let item of listaEspecialista.body; let i = index">
      <div class="card-lista-especialista">
        <div class="card-lista-especialista__avatar">
          <div class="card-lista-especialista__avatar--circle">
            <div class="card-lista-especialista__avatar--first-word">
              {{ item.firstLetter }}
            </div>
          </div>
        </div>
        <div class="card-lista-especialista__nombre-especialista">
          {{ item.firstName }} {{ item.firstSurname }}
          {{ item.secondSurname }}
        </div>

        <div class="card-lista-especialista__puntuacion">
          <mat-icon class="card-lista-especialista__puntuacion--icon">
            star
          </mat-icon>
          <div class="card-lista-especialista__puntuacion--puntuacion">
            {{ item.qualification }}
          </div>
        </div>
        <div class="card-lista-especialista__button">
          <button
            mat-raised-button
            class="button__normal-button"
            (click)="enviarMensaje()"
          >
            Mensaje
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
