<div fxLayout="row">
  <div class="" fxFlex="50" fxLayoutAlign="center center">
    <div class="modal-container">
      <div class="modal-container__titulo">Configuracion</div>
      <form class="modal-container__inputs">
        <mat-form-field class="modal-container__inputs--width">
          <mat-label>Nombre</mat-label>
          <input
            class="input-form"
            matInput
            placeholder="Nombre"
            [(ngModel)]="user.firstName"
            name="nombre"
          />
          <mat-icon matSuffix class="modal-container__icon">person</mat-icon>
        </mat-form-field>

        <mat-form-field class="modal-container__inputs--width">
          <mat-label>Apellido Paterno</mat-label>
          <input
            class="input-form"
            matInput
            placeholder="Apellido Paterno"
            [(ngModel)]="user.firstSurname"
            name="apellidoPaterno"
          />
          <mat-icon matSuffix class="modal-container__icon">person</mat-icon>
        </mat-form-field>

        <mat-form-field class="modal-container__inputs--width">
          <mat-label>Apellido Materno</mat-label>
          <input
            class="input-form"
            matInput
            placeholder="Apellido Materno"
            [(ngModel)]="user.secondSurname"
            name="apellidoMaterno"
          />
          <mat-icon matSuffix class="modal-container__icon">person</mat-icon>
        </mat-form-field>

        <mat-form-field class="modal-container__inputs--width">
          <mat-label>Celular</mat-label>
          <input
            class="input-form"
            matInput
            placeholder="Numero de Celular"
            [(ngModel)]="user.phoneNumber"
            name="celular"
          />
          <mat-icon matSuffix class="modal-container__icon"
            >local_phone</mat-icon
          >
        </mat-form-field>

        <mat-form-field class="modal-container__inputs--width">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input
            class="input-form"
            matInput
            placeholder="Fecha de nacimiento"
            [(ngModel)]="user.birthDate"
            name="fechaNacimiento"
          />
          <mat-icon matSuffix class="modal-container__icon">person</mat-icon>
        </mat-form-field>

        <mat-form-field class="modal-container__inputs--width">
          <mat-label>Correo Electronico</mat-label>
          <input
            class="input-form"
            matInput
            placeholder="ejemplo@ejemplo.com"
            name="correo"
            [(ngModel)]="user.email"
          />
          <mat-icon matSuffix class="modal-container__icon">email</mat-icon>
        </mat-form-field>

        <!-- <mat-form-field class="modal-container__inputs--width">
          <mat-label>Contraseña</mat-label>
          <input
            class="input-form"
            matInput
            placeholder="**********"
            name="contrasenia"
            [(ngModel)]="user.password"
            type="password"
            autocomplete="new-password"
          />
          <mat-icon matSuffix class="modal-container__icon">https</mat-icon>
        </mat-form-field> -->
      </form>
      <button
        mat-raised-button
        class="button__large-button"
        (click)="actualizarGenerales()"
      >
        Guardar Datos
      </button>
    </div>
  </div>
  <!-- 
    <div class="" fxFlex="50" fxLayoutAlign="center center"> -->
  <div class="" fxFlex="50" fxLayoutAlign="center center">
    <div class="modal-container">
      <div class="modal-container__titulo">Configuracion Consultas</div>
      <form class="modal-container__inputs">
        <mat-form-field class="modal-container__inputs--width">
          <mat-label>Precio Consulta</mat-label>
          <input
            class="input-form"
            matInput
            placeholder="Ex : 100"
            [(ngModel)]="userConsult.price"
            name="nombre"
          />
          <mat-icon matSuffix class="modal-container__icon">money</mat-icon>
        </mat-form-field>

        <mat-form-field class="modal-container__inputs--width">
          <mat-label>Horario Inicio</mat-label>
          <input
            class="input-form"
            matInput
            placeholder="Ex 14:00:00"
            [(ngModel)]="userConsult.fromTime"
            name="horarioInicio"
          />
          <mat-icon matSuffix class="modal-container__icon">schedule</mat-icon>
        </mat-form-field>

        <mat-form-field class="modal-container__inputs--width">
          <mat-label>Horario Fin</mat-label>
          <input
            class="input-form"
            matInput
            placeholder="Ex 18:00:00"
            [(ngModel)]="userConsult.toTime"
            name="horarioFin"
          />
          <mat-icon matSuffix class="modal-container__icon">schedule</mat-icon>
        </mat-form-field>
      </form>
      <button
        mat-raised-button
        class="button__large-button"
        (click)="actualizarConsultas()"
      >
        Guardar Datos
      </button>
    </div>
  </div>
  <!-- </div> -->
</div>
