<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Laboratorios</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="mt-7">
    <div class="card-lista-laboratorios card-lista-laboratorios--header">
      <div class="card-lista-laboratorios__nombre-laboratorio">
        Nombre Laboratorio
      </div>
      <div class="card-lista-laboratorios__paciente">Paciente</div>
      <div class="card-lista-laboratorios__fecha">Fecha</div>
      <div class="card-lista-laboratorios__button">Accion</div>
    </div>
    <div *ngFor="let item of listlaboratory; let i = index">
      <div class="card-lista-laboratorios card-lista-laboratorios--row">
        <div class="card-lista-laboratorios__nombre-laboratorio">
          {{ item.laboratoryName }}
        </div>
        <div class="card-lista-laboratorios__paciente">
          Ariel Colque Herrera
        </div>
        <div class="card-lista-laboratorios__fecha">
          {{ item.laboratoryOrderDate }}
        </div>
        <div class="card-lista-laboratorios__button">
          <button mat-mini-fab class="button__normal-circle-button">
            <mat-icon class="card-lista-laboratorios__puntuacion--icon">
              file_download
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
