<mat-drawer-container>
  <mat-drawer class="sidebar" mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet>
      <div class="container">
        <div fxLayout="row" fxLayoutAlign="end">
          <button
            class="avatar__circle"
            mat-fab
            [matMenuTriggerFor]="usermodal"
          >
            <span class="avatar__first-word">{{ avatar.firstLetter }}</span>
          </button>
          <mat-menu class="user-card" #usermodal="matMenu" xPosition="before">
            <div class="user-card__content">
              <button class="user-card__icon" mat-fab>
                <span class="user-card__first-word">{{
                  avatar.firstLetter
                }}</span>
              </button>
              <span class="user-card__name">{{ avatar.firstName }}</span>
              <span class="user-card__lastname">
                {{ avatar.firstSurname }}
              </span>
              <span class="user-card__email">
                {{ avatar.secondSurname }}
              </span>
              <button
                mat-stroked-button
                class="user-card__button-logout"
                (click)="signout()"
              >
                <mat-icon>exit_to_app</mat-icon>
                Sign out
              </button>
            </div>
          </mat-menu>
        </div>
      </div>
    </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
