<mat-drawer-container>
  <mat-drawer
    class="sidebar"
    mode="side"
    [class.menu-open]="isSidebarOpen2"
    [class.menu-close]="!isSidebarOpen2"
    opened
  >
    <app-sidebar (openEvent)="receiveOpen($event)"></app-sidebar>
  </mat-drawer>

  <mat-drawer-content [ngStyle]="{ 'margin-left.rem': contentMargin }">
    <router-outlet>
      <div class="container">
        <div fxLayout="row" fxLayoutAlign="end">
          <button class="avatar__circle" mat-fab>
            <span class="avatar__first-word">M</span>
          </button>
        </div>
      </div>
    </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
