.avatar {
  &__circle {
    top: 4rem;
    background-color: $color-primary-white !important;
  }
  &__first-word {
    color: $color-primary-blue !important;
    font-size: 2rem;
  }
}
.button {
  &__normal-button {
    background-color: $color-primary-blue !important;
    border-radius: 2rem !important;
    color: $color-primary-white !important;
  }
  &__large-button {
    background-color: $color-primary-white !important;
    color: $color-primary-blue;
    border-radius: 2rem !important;
    width: 25rem;
  }
}
.dialog__circle-button {
  background-color: $color-primary-blue !important;
}
.button__circle {
  cursor: pointer;
  border-radius: 50rem;
  font-size: 1rem;
  padding: 0.25rem;
  &--delete {
    background-color: rgb(235, 96, 96);
    color: $color-primary-white;
  }
  &:hover {
    transition: 0.5s;
    background-color: rgb(235, 51, 51);
  }
  &--download {
    background-color: $color-primary-blue;
    color: $color-primary-white;
    &:hover {
      transition: 0.5s;
      background-color: lighten($color-primary-blue, 8);
    }
  }
}
.button__dialog--positive {
  background-color: $color-primary-blue !important;
  color: $color-primary-white !important;
}

.button__normal-circle-button {
  background-color: $color-primary-blue !important;
}
