.avatar {
  &__circle {
    top: 4rem;
    background-color: $color-primary-white !important;
  }
  &__first-word {
    color: $color-primary-blue !important;
    font-size: 2rem;
  }
}
.button {
  &__normal-button {
    background-color: $color-primary-blue !important;
    border-radius: 2rem !important;
  }
}
