.card-lista-laboratorios {
  &--row {
    background-color: $color-primary-white;
    display: flex;
    border-radius: 50rem;
    margin: 2rem 0;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    box-shadow: $color-box-shadow;
  }
  &--header {
    background-color: transparent;
    display: flex;
    border-radius: 50rem;
    margin: 2rem 0;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: $color-primary-white;
    font-weight: bold;
  }

  &__nombre-laboratorio {
    //background-color: red;
    flex: 0 1 25%;
    text-align: center;
    //font-weight: bold;
  }
  &__nombre-doctor {
    //background-color: orange;
    flex: 0 1 15%;
    text-align: center;
  }
  &__nombre-especialista {
    //background-color: palegoldenrod;
    flex: 0 1 15%;
    text-align: center;
  }
  &__fecha {
    //background-color: plum;
    flex: 0 1 15%;
    text-align: center;
  }
}
