.chat-container {
  box-shadow: $color-box-shadow;
  width: 75% !important;
  background-color: $color-primary-white;
  position: fixed !important;
  // right: 0;
  bottom: 2.5rem;
  //margin: 5rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5rem;
  padding: 1rem 5rem;
}
.input-width {
  width: 90%;
}
