.dialog__container {
  padding: 0rem 2.5rem;
}
.mat-dialog-container {
  background-color: $color-primary-white !important;
  color: $color-primary-black;
}
.dialog {
  &__subtitle-content {
    display: flex;
    justify-content: space-between;
    //background-color: orange;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__subtitle-text {
    font-size: 2.5rem;
    color: $color-primary-blue;
  }
  &__subtitle-button {
  }
  &__subtitle-line {
    border-bottom: 2.5px solid $color-primary-blue;
  }
  &__form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
    &--width {
      width: 100%;
    }
    margin-top: 1.5rem;
  }

  &__resources-container {
    //background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;
  }
  &__resources-element {
    //background-color: orange;
    display: flex;
    align-items: center;
  }
  &__resources-icon {
    vertical-align: middle;
    &--right {
      margin-right: 1rem;
    }
  }
  &__resources-delete {
    //background-color: green;
    margin-right: 0.5rem;
  }
}
