<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Historial Completo</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="card-historial-completo__titulo">* Datos de paciente</div>
  <div class="card-historial-completo__container">
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Nombre Completo :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        {{ historialMedico.patient_data.firstName }}
        {{ historialMedico.patient_data.firstSurname }}
        {{ historialMedico.patient_data.secondSurname }}
      </div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Fecha de Nacimiento :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        {{ historialMedico.patient_data.birthDate }}
      </div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Numero de Celular :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        {{ historialMedico.patient_data.phoneNumber }}
      </div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Correo Electronico :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        {{ historialMedico.patient_data.email }}
      </div>
    </div>
  </div>

  <div class="card-datos-medicos__container mt-3">
    <div class="" fxLayout="row">
      <div class="card-datos-medicos__columna" fxFlex="33.3">
        <div class="card-datos-medicos__subtitulo-compuesto">
          <div class="card-datos-medicos__subtitulo-button">Datos</div>
        </div>
        <form>
          <div class="card-datos-medicos__informacion">
            <div class="card-datos-medicos__informacion--subtitulo">Peso :</div>
            <div class="card-datos-medicos__informacion--titulo">
              <mat-form-field class="modal-container__inputs--width">
                <mat-label>Ingrese su Peso</mat-label>
                <input
                  id="peso"
                  class="input-form"
                  matInput
                  placeholder="Ejem 85"
                  [(ngModel)]="medicalDataModel.weight"
                  name="peso"
                />
              </mat-form-field>
            </div>
            <div class="card-datos-medicos__informacion--unidad">Kg</div>
          </div>
          <div class="card-datos-medicos__informacion">
            <div class="card-datos-medicos__informacion--subtitulo">
              Altura :
            </div>
            <div class="card-datos-medicos__informacion--titulo">
              <mat-form-field class="modal-container__inputs--width">
                <mat-label>Ingrese su Altura</mat-label>
                <input
                  id="altura"
                  class="input-form"
                  matInput
                  placeholder="Ejem 180"
                  [(ngModel)]="medicalDataModel.height"
                  name="altura"
                />
              </mat-form-field>
            </div>
            <div class="card-datos-medicos__informacion--unidad">cm</div>
          </div>
          <div class="card-datos-medicos__informacion">
            <div class="card-datos-medicos__informacion--subtitulo">
              Temperatura :
            </div>
            <div class="card-datos-medicos__informacion--titulo">
              <mat-form-field class="modal-container__inputs--width">
                <mat-label>Ingrese su Temperatura</mat-label>
                <input
                  id="gradosC"
                  class="input-form"
                  matInput
                  placeholder="Ejem 40"
                  [(ngModel)]="medicalDataModel.temperature"
                  name="gradosC"
                />
              </mat-form-field>
            </div>
            <div class="card-datos-medicos__informacion--unidad">ºC</div>
          </div>
          <div class="card-datos-medicos__informacion">
            <div class="card-datos-medicos__informacion--subtitulo">
              Presion :
            </div>
            <div class="card-datos-medicos__informacion--titulo">
              <mat-form-field class="modal-container__inputs--width">
                <mat-label>Ingrese su Presion</mat-label>
                <input
                  id="presion"
                  class="input-form"
                  matInput
                  placeholder="Ejem 40"
                  [(ngModel)]="medicalDataModel.pressure"
                  name="presion"
                />
              </mat-form-field>
            </div>
            <div class="card-datos-medicos__informacion--unidad">mmHg</div>
          </div>
          <div class="card-datos-medicos__informacion">
            <div class="card-datos-medicos__informacion--subtitulo">
              Grupo Sanguineo :
            </div>
            <div class="card-datos-medicos__informacion--titulo">
              <mat-form-field
                appearance="fill"
                class="modal-container__inputs--width"
              >
                <mat-label>Grupo Sanguineo</mat-label>
                <mat-select
                  [(ngModel)]="medicalDataModel.bloodGroup"
                  name="bloodGroup"
                >
                  <mat-option
                    *ngFor="let item of grupoSanguineo"
                    [value]="item"
                  >
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="card-datos-medicos__informacion--unidad"></div>
          </div>
        </form>
      </div>

      <div class="card-datos-medicos__columna" fxFlex="33.3">
        <div class="card-datos-medicos__subtitulo-compuesto">
          <div class="card-datos-medicos__subtitulo-button">Alergias</div>
        </div>
        <div
          class=""
          *ngFor="let item of descriptionModelAlergias.detail; let i = index"
        >
          <div class="u__flex--space-between">
            <mat-form-field class="modal-container__inputs--width">
              <mat-label>Alergia</mat-label>
              <input
                class="input-form"
                matInput
                placeholder="alergia"
                name="alergia{{ i }}"
                [(ngModel)]="item.description"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card-datos-medicos__columna" fxFlex="33.3">
        <div class="card-datos-medicos__subtitulo-compuesto">
          <div class="card-datos-medicos__subtitulo-button">
            Diagnosticos Previos
          </div>
        </div>
        <div
          class=""
          *ngFor="let item of descriptionModelPrevios.detail; let i = index"
        >
          <div class="u__flex--space-between">
            <mat-form-field class="modal-container__inputs--width">
              <mat-label>Diagnosticos Previos</mat-label>
              <input
                class="input-form"
                matInput
                placeholder="diagnosticos"
                name="diagnosticos{{ i }}"
                [(ngModel)]="item.description"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-historial-completo__titulo">* Diagnostico</div>
  <div class="card-historial-completo__container">
    <div class="card-historial-completo__diagnostico">
      <span class="card-historial-completo__informacion--subtitulo">
        Detalle de Diagnostico :
      </span>
      <div class="card-historial-completo__informacion--diagnostico">
        {{ historialMedico.diagnosis.diagnosis }}
      </div>
    </div>
  </div>

  <div class="" fxLayout="row">
    <div class="px-1" fxFlex="50">
      <div class="card-historial-completo__titulo">* Prescripciones</div>
      <div class="card-historial-completo__container">
        <div
          class=""
          *ngFor="let item of historialMedico.prescriptionId; let i = index"
        >
          <div class="u__flex--center mb-1">
            <button
              mat-raised-button
              class="button__large-button--primary"
              (click)="abrirPrescripcion(item)"
            >
              Prescripcion # {{ i + 1 }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="px-1" fxFlex="50">
      <div class="card-historial-completo__titulo">* Chat</div>
      <div class="card-historial-completo__container">
        <div class="u__flex--center">
          <button
            mat-raised-button
            class="button__large-button--primary"
            (click)="abrirMiniChat(1)"
          >
            Ver todo el chat
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
