<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Historial Completo</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="card-historial-completo__titulo">* Datos de paciente</div>
  <div class="card-historial-completo__container">
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Nombre Completo :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        {{ historialMedico.patient_data.firstName }}
        {{ historialMedico.patient_data.firstSurname }}
        {{ historialMedico.patient_data.secondSurname }}
      </div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Fecha de Nacimiento :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        {{ historialMedico.patient_data.birthDate }}
      </div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Numero de Celular :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        {{ historialMedico.patient_data.phoneNumber }}
      </div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Correo Electronico :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        {{ historialMedico.patient_data.email }}
      </div>
    </div>
  </div>
  <div class="card-historial-completo__titulo">* Diagnostico</div>
  <div class="card-historial-completo__container">
    <div class="card-historial-completo__diagnostico">
      <span class="card-historial-completo__informacion--subtitulo">
        Detalle de Diagnostico :
      </span>
      <div class="card-historial-completo__informacion--diagnostico">
        {{ historialMedico.diagnosis.diagnosis }}
      </div>
    </div>
  </div>

  <div class="" fxLayout="row">
    <div class="px-1" fxFlex="50">
      <div class="card-historial-completo__titulo">* Prescripciones</div>
      <div class="card-historial-completo__container">
        <div
          class=""
          *ngFor="let item of historialMedico.prescriptionId; let i = index"
        >
          <div class="u__flex--center mb-1">
            <button
              mat-raised-button
              class="button__large-button--primary"
              (click)="abrirPrescripcion(item)"
            >
              Prescripcion # {{ i + 1 }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="px-1" fxFlex="50">
      <div class="card-historial-completo__titulo">* Chat</div>
      <div class="card-historial-completo__container">
        <div class="u__flex--center">
          <button
            mat-raised-button
            class="button__large-button--primary"
            (click)="abrirMiniChat(1)"
          >
            Ver todo el chat
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
