<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Historial Completo</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="card-historial-completo__titulo">* Datos de paciente</div>
  <div class="card-historial-completo__container">
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Nombre Completo :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        Ariel Colque Herrera
      </div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">Edad :</div>
      <div class="card-historial-completo__informacion--titulo">55 Años</div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Fecha de Nacimiento :
      </div>
      <div class="card-historial-completo__informacion--titulo">02/02/2020</div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Numero de Celular :
      </div>
      <div class="card-historial-completo__informacion--titulo">76743310</div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Correo Electronico :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        ariel@gmail.com
      </div>
    </div>
  </div>
  <div class="card-historial-completo__titulo">* Diagnostico : Diabetes</div>
  <div class="card-historial-completo__container">
    <div class="card-historial-completo__diagnostico">
      <span class="card-historial-completo__informacion--subtitulo">
        Detalle de Diagnostico :
      </span>
      <div class="card-historial-completo__informacion--diagnostico">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
        laudantium quasi aliquid quos ad, suscipit, doloribus quaerat inventore
        sequi tempora nisi aliquam ducimus eveniet accusamus doloremque
        blanditiis consequatur maiores veritatis sint perferendis. Iusto quidem
        dicta officia eum quos. Provident ipsam maxime asperiores pariatur
        deserunt eligendi magni nihil est praesentium veritatis!
      </div>
    </div>
  </div>

  <div class="" fxLayout="row">
    <div class="px-1" fxFlex="50">
      <div class="card-historial-completo__titulo">* Prescripciones</div>
      <div class="card-historial-completo__container">
        <!-- <div
          class=""
          *ngFor="let item of historialMedico.prescriptionId; let i = index"
        > -->
        <div class="u__flex--center mb-1">
          <button
            mat-raised-button
            class="button__large-button--primary"
            (click)="abrirPrescripcion(1)"
          >
            Prescripcion #
          </button>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="px-1" fxFlex="50">
      <div class="card-historial-completo__titulo">* Chat</div>
      <div class="card-historial-completo__container">
        <div class="u__flex--center">
          <button
            mat-raised-button
            class="button__large-button--primary"
            (click)="abrirMiniChat(1)"
          >
            Ver todo el chat
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
