<div class="utility-space-around">
  <div class="brand-big">
    <img [src]="mylogo" alt="medicalnowlogo" class="brand-big__logo" />
    <span class="brand-big__subtitle">Medicalnow</span>
  </div>
  <div class="modal-container">
    <div class="modal-container__titulo">Registro</div>
    <form class="modal-container__inputs">
      <mat-form-field class="modal-container__inputs--width">
        <mat-label>Nombre</mat-label>
        <input
          class="input-form"
          matInput
          placeholder="Nombre"
          [(ngModel)]="nombre"
          name="nombre"
        />
        <mat-icon matSuffix class="modal-container__icon">person</mat-icon>
      </mat-form-field>

      <mat-form-field class="modal-container__inputs--width">
        <mat-label>Apellido Paterno</mat-label>
        <input
          class="input-form"
          matInput
          placeholder="Apellido Paterno"
          [(ngModel)]="apellidoPaterno"
          name="apellidoPaterno"
        />
        <mat-icon matSuffix class="modal-container__icon">person</mat-icon>
      </mat-form-field>

      <mat-form-field class="modal-container__inputs--width">
        <mat-label>Apellido Materno</mat-label>
        <input
          class="input-form"
          matInput
          placeholder="Apellido Materno"
          [(ngModel)]="apellidoMaterno"
          name="apellidoMaterno"
        />
        <mat-icon matSuffix class="modal-container__icon">person</mat-icon>
      </mat-form-field>

      <mat-form-field class="modal-container__inputs--width">
        <mat-label>Celular</mat-label>
        <input
          class="input-form"
          matInput
          placeholder="Numero de Celular"
          [(ngModel)]="celular"
          name="celular"
        />
        <mat-icon matSuffix class="modal-container__icon">person</mat-icon>
      </mat-form-field>

      <mat-form-field class="modal-container__inputs--width">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input
          class="input-form"
          matInput
          placeholder="Numero de Celular"
          [(ngModel)]="fechaNacimiento"
          name="fechaNacimiento"
        />
        <mat-icon matSuffix class="modal-container__icon">local_phone</mat-icon>
      </mat-form-field>

      <mat-form-field class="modal-container__inputs--width">
        <mat-label>Correo Electronico</mat-label>
        <input
          class="input-form"
          matInput
          placeholder="ejemplo@ejemplo.com"
          name="correo"
        />
        <mat-icon matSuffix class="modal-container__icon">email</mat-icon>
      </mat-form-field>

      <mat-form-field class="modal-container__inputs--width">
        <mat-label>Contraseña</mat-label>
        <input
          class="input-form"
          matInput
          placeholder="**********"
          name="contrasenia"
        />
        <mat-icon matSuffix class="modal-container__icon">https</mat-icon>
      </mat-form-field>
    </form>

    <div class="modal-container__button">
      <button
        mat-raised-button
        class="button__large-button"
        (click)="registrarUsuario()"
      >
        Registrar
      </button>
    </div>
  </div>
</div>
