<div class="dialog__container">
  <mat-dialog-content>
    <div class="dialog__subtitle">
      <div class="dialog__subtitle-content">
        <div class="dialog__subtitle-text">Detalle de Prescripcion</div>
        <div class="dialog__subtitle-button"></div>
      </div>
      <div class="dialog__subtitle-line"></div>
    </div>
    <form class="dialog__form">
      <mat-form-field class="dialog__form--width">
        <mat-label>Detalle</mat-label>
        <textarea
          matInput
          placeholder="Usted debe colocarse la pomada 3 veces al dia"
          [(ngModel)]="descripcion.description"
          name="descripcionitem"
        ></textarea>
      </mat-form-field>
    </form>
    <div class="dialog-prescripcion dialog-prescripcion--header">
      <div class="dialog-prescripcion__nombre-producto">Producto</div>
      <div class="dialog-prescripcion__nombre-detalle">Detalle</div>
      <div class="dialog-prescripcion__nombre-cantidad">Cantidad</div>
      <button
        mat-mini-fab
        class="circle-button--primary circle-button__chat"
        (click)="agregaralista()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="dialog__detalle-line"></div>
    <div class="" *ngFor="let item of descripcion.content; let i = index">
      <div class="dialog-prescripcion dialog-prescripcion--row">
        <mat-form-field class="dialog-prescripcion__nombre-producto">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Diazepan"
            name="nombreitem{{ i }}"
            [(ngModel)]="item.productName"
          />
        </mat-form-field>
        <mat-form-field class="dialog-prescripcion__nombre-detalle">
          <mat-label>Detalle</mat-label>
          <input
            matInput
            placeholder="20 pastillas"
            name="detalleitem{{ i }}"
            [(ngModel)]="item.productDetail"
          />
        </mat-form-field>
        <mat-form-field class="dialog-prescripcion__nombre-cantidad">
          <mat-label>Cantidad</mat-label>
          <input
            matInput
            placeholder="10"
            name="cantidaditem {{ i }}"
            [(ngModel)]="item.productQtty"
          />
        </mat-form-field>
        <button
          mat-mini-fab
          class="circle-button--delete circle-button__chat"
          (click)="eliminardelista(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button
      (click)="enviarprescripcion()"
      mat-button
      [mat-dialog-close]="true"
      class="button button--primary"
      cdkFocusInitial
    >
      Aceptar
    </button>
  </mat-dialog-actions>
</div>
