<div class="utility-space-around">
  <div class="brand-big">
    <img [src]="mylogo" alt="medicalnowlogo" class="brand-big__logo" />
    <span class="brand-big__subtitle">Medicalnow</span>
    <span class="brand-big__subtitle">Doctores</span>
  </div>
  <div class="modal-container">
    <div class="modal-container__titulo">Ingreso</div>
    <form class="modal-container__inputs" (ngSubmit)="login()">
      <mat-form-field class="modal-container__inputs--width">
        <mat-label>Correo Electronico</mat-label>
        <input
          id="username"
          class="input-form"
          matInput
          placeholder="ejemplo@ejemplo.com"
          name="correo"
          [(ngModel)]="user.email"
        />
      </mat-form-field>

      <mat-form-field class="modal-container__inputs--width">
        <mat-label>Contraseña</mat-label>
        <input
          class="input-form"
          matInput
          placeholder="**********"
          name="contrasenia"
          type="password"
          autocomplete="new-password"
          id="password"
          [(ngModel)]="user.password"
        />
        <!--formControlName="password"-->
      </mat-form-field>
      <div class="modal-container__button">
        <button mat-raised-button class="button__large-button">Ingresar</button>
      </div>
    </form>

    <!-- <div class="modal-container__underline">
      No tienes cuenta?
      <span
        class="modal-container__underline modal-container__underline--detail"
        (click)="irRegistro()"
        >Registrate Aqui</span
      >
    </div> -->
  </div>
</div>
