$color-primary-blue: #19d3da;
$color-primary-white: #fff;
$color-primary-black: #373a40;
$color-primary-gray: #686d76;

//transitions
$transition-7: 0.7s;
$transition-5: 0.5s;
$transition-3: 0.3s;
$transition-1: 0.1s;
