$color-primary-blue: #19d3da;
$color-primary-white: #fff;
$color-primary-black: #373a40;
$color-primary-gray: #686d76;

$color-primary-red: #d11a2a;

$color-background: #75dbdf;

//transitions
$transition-7: 0.7s;
$transition-5: 0.5s;
$transition-3: 0.3s;
$transition-1: 0.1s;
$color-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
$opacity-custom-card: 0.65;

//
$font-weight-regular: 1.6rem;
