<mat-nav-list class="sidebar__list">
  <div class="sidebar-brand">
    <img [src]="mylogo" alt="medicalnowlogo" class="sidebar-brand__logo" />
    <span class="sidebar-brand__subtitle">Medicalnow</span>
  </div>
  <a
    class="link"
    mat-list-item
    (click)="irALink('asistencia-medica')"
    routerLink="/asistencia-medica"
    routerLinkActive="list-item-active-link"
  >
    <mat-icon class="link__icon">layers</mat-icon
    ><span class="link__text">Asistencia</span>
  </a>
  <a
    class="link"
    mat-list-item
    (click)="irALink('consultas')"
    routerLink="/consultas"
    routerLinkActive="list-item-active-link"
  >
    <mat-icon class="link__icon">chat</mat-icon
    ><span class="link__text">Consultas</span>
  </a>
  <a
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    routerLink="/recetas"
    (click)="irALink('recetas')"
  >
    <mat-icon class="link__icon">description</mat-icon
    ><span class="link__text">Prescripciones</span>
  </a>
  <a
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    (click)="irALink('historial')"
    routerLink="/historial"
  >
    <mat-icon class="link__icon">book</mat-icon
    ><span class="link__text">Historial Medico</span></a
  >
  <a
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    (click)="irALink('laboratorios')"
    routerLink="/laboratorios"
  >
    <mat-icon class="link__icon">grain</mat-icon
    ><span class="link__text">Laboratorios</span>
  </a>
  <a
    class="link"
    mat-list-item
    routerLinkActive="list-item-active-link"
    (click)="irALink('configuraciones')"
    routerLink="/configuraciones"
  >
    <mat-icon class="link__icon">settings</mat-icon
    ><span class="link__text">Configuraciones</span>
  </a>
</mat-nav-list>
