<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Consultas</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="card-lista-consultas card-lista-consultas--header">
    <div class="card-lista-consultas__nombre-doctor">Paciente</div>
    <div class="card-lista-consultas__fecha">Fecha de Inicio</div>
    <div class="card-lista-consultas__button">Accion</div>
  </div>
  <div *ngFor="let item of consultasDePaciente; let i = index">
    <div class="card-lista-consultas card-lista-consultas--row">
      <div class="card-lista-consultas__nombre-doctor">
        {{ item.firstName }} {{ item.firstSurname }} {{ item.secondSurname }}
      </div>
      <div class="card-lista-consultas__fecha">{{ item.startDate }}</div>
      <div class="card-lista-consultas__button">
        <button
          mat-raised-button
          class="button__normal-button"
          (click)="irAChat(item.consultId)"
        >
          Ver mensaje
        </button>
      </div>
    </div>
  </div>
</div>
