<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Todas nuestras especialidades</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div fxLayout="row" class="mt-9">
    <div class="" fxLayout="column">
      <div class="card-lista-especialidades">
        <div class="card-lista-especialidades__img">
          <div class="card-lista-especialidades__img-overlay">
            <div class="card-lista-especialidades__contenido">
              <div class="card-lista-especialidades__detalle-numero">
                <mat-icon
                  class="card-lista-especialidades__detalle-numero--icono"
                >
                  people
                </mat-icon>
                <div class="card-lista-especialidades__detalle-numero--numero">
                  10
                </div>
              </div>
              <div class="card-lista-especialidades__nombre-especialidad">
                Dermatologia
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="">card 12</div> -->
    </div>
    <div class="" fxLayout="column">
      <div class="card-lista-especialidades">
        <div class="card-lista-especialidades__img">
          <div class="card-lista-especialidades__img-overlay">
            <div class="card-especialidades__contenido">contenido card 1</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
