<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Historial Medico</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="card-lista-historial card-lista-historial--header">
    <div class="card-lista-historial__nombre-paciente">Paciente</div>
    <div class="card-lista-historial__especialidad">Especialidad</div>
    <div class="card-lista-historial__fecha">Fecha de Inicio</div>
    <div class="card-lista-historial__button">Accion</div>
  </div>

  <!-- <div *ngFor="let item of listPrescriptionItem; let i = index"> -->
  <div class="card-lista-historial card-lista-historial--row">
    <div class="card-lista-historial__nombre-paciente">
      Ariel Colque Herrera
    </div>
    <div class="card-lista-historial__especialidad">Odontologo</div>
    <div class="card-lista-historial__fecha">12 / 12 / 2020</div>
    <div class="card-lista-historial__button">
      <button
        mat-raised-button
        class="button__normal-button"
        (click)="irHistorialGeneral(1)"
      >
        Ver detalle
      </button>
    </div>
  </div>
  <!-- </div> -->
</div>
