<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Historial Medico</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="card-lista-historial card-lista-historial--header">
    <div class="card-lista-historial__nombre-paciente">Paciente</div>
    <div class="card-lista-historial__especialidad">Especialidad</div>
    <div class="card-lista-historial__fecha">Fecha de Inicio</div>
    <div class="card-lista-historial__button">Accion</div>
  </div>

  <div *ngFor="let item of medicalHsitoryListModel; let i = index">
    <div class="card-lista-historial card-lista-historial--row">
      <div class="card-lista-historial__nombre-paciente">
        {{ item.firstName }} {{ item.firstSurname }} {{ item.secondSurname }}
      </div>
      <div class="card-lista-historial__especialidad">
        {{ item.specialtyName }}
      </div>
      <div class="card-lista-historial__fecha">
        {{ item.startDate }}
      </div>
      <div class="card-lista-historial__button">
        <button
          mat-raised-button
          class="button__normal-button"
          (click)="irHistorialGeneral(item.medicalHistoryId)"
        >
          Ver detalle
        </button>
      </div>
    </div>
  </div>
</div>
