<div class="dialog__container">
  <mat-dialog-content>
    <div class="dialog__subtitle">
      <div class="dialog__subtitle-content">
        <div class="dialog__subtitle-text">Consulta</div>
        <div class="dialog__subtitle-button"></div>
      </div>
      <div class="dialog__subtitle-line"></div>
    </div>

    <form class="dialog__form">
      <mat-form-field class="dialog__form--width">
        <mat-label>Mensaje ...</mat-label>
        <textarea
          matInput
          placeholder="Doctor , me duele ..."
          name="message"
          [(ngModel)]="mensajeChat.mensaje"
        ></textarea>
      </mat-form-field>
    </form>

    <div class="dialog__subtitle">
      <div class="dialog__subtitle-content">
        <div class="dialog__subtitle-text">Recursos</div>
        <div class="dialog__subtitle-button">
          <input
            #csvInput
            hidden="true"
            type="file"
            onclick="this.value=null"
            accept=".png,.jpg"
            (change)="handleFileInput($event.target.files)"
          />
          <button
            mat-mini-fab
            class="dialog__circle-button"
            (click)="csvInput.click()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="dialog__subtitle-line"></div>
    </div>
    <div class="" *ngFor="let item of mensajeChat.contenido; let i = index">
      <div class="dialog__resources-container">
        <div class="dialog__resources-element">
          <mat-icon class="dialog__resources-icon dialog__resources-icon--right"
            >image</mat-icon
          >

          <div class="dialog__resources-text">{{ item }}</div>
        </div>
        <div class="dialog__resources-delete">
          <div class="button__circle button__circle--delete">
            <mat-icon
              class="dialog__resources-icon dialog__resources-icon--center"
              >close</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button
      class="button__dialog--positive"
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Enviar
    </button>
  </mat-dialog-actions>
</div>
