<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Historial Completo</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="card-historial-completo__titulo">* Datos de paciente</div>
  <div class="card-historial-completo__container">
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Nombre Completo :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        Ariel Colque Herrera
      </div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">Edad :</div>
      <div class="card-historial-completo__informacion--titulo">55 Años</div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Ciudad :
      </div>
      <div class="card-historial-completo__informacion--titulo">La Paz</div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Fecha de Nacimiento :
      </div>
      <div class="card-historial-completo__informacion--titulo">02/02/2020</div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Numero de Celular :
      </div>
      <div class="card-historial-completo__informacion--titulo">76743310</div>
    </div>
    <div class="card-historial-completo__informacion">
      <div class="card-historial-completo__informacion--subtitulo">
        Correo Electronico :
      </div>
      <div class="card-historial-completo__informacion--titulo">
        ariel@gmail.com
      </div>
    </div>
  </div>
  <div class="card-historial-completo__titulo">* Diagnostico : Diabetes</div>
  <div class="card-historial-completo__container">
    <div class="card-historial-completo__diagnostico">
      <span class="card-historial-completo__informacion--subtitulo">
        Detalle de Diagnostico :
      </span>
      <div class="card-historial-completo__informacion--diagnostico">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
        laudantium quasi aliquid quos ad, suscipit, doloribus quaerat inventore
        sequi tempora nisi aliquam ducimus eveniet accusamus doloremque
        blanditiis consequatur maiores veritatis sint perferendis. Iusto quidem
        dicta officia eum quos. Provident ipsam maxime asperiores pariatur
        deserunt eligendi magni nihil est praesentium veritatis!
      </div>
    </div>
  </div>
  <div class="card-historial-completo__titulo">* Seguimiento</div>
  <div class="card-historial-completo__chat--paciente">
    <div class="card-historial-completo__chat">
      <div class="card-historial-completo__usuario">Paciente</div>
      <span class="card-historial-completo__informacion--subtitulo">
        Mensaje :
      </span>
      <div class="card-historial-completo__informacion--diagnostico">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
        laudantium quasi aliquid quos ad, suscipit, doloribus quaerat.
      </div>
      <div class="card-historial-completo__chat-line"></div>

      <span class="card-historial-completo__informacion--subtitulo">
        Recursos :
      </span>
      <div class="dialog__resources-container">
        <div class="dialog__resources-element">
          <mat-icon class="dialog__resources-icon dialog__resources-icon--right"
            >description</mat-icon
          >

          <div class="dialog__resources-text">Archive.pdf</div>
        </div>
        <div class="dialog__resources-delete">
          <div class="button__circle button__circle--download">
            <mat-icon
              class="dialog__resources-icon dialog__resources-icon--center"
              >file_download</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-historial-completo__chat--doctor">
    <div class="card-historial-completo__chat">
      <div class="card-historial-completo__usuario">Doctor</div>
      <span class="card-historial-completo__informacion--subtitulo">
        Mensaje :
      </span>
      <div class="card-historial-completo__informacion--diagnostico">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
        laudantium quasi aliquid quos ad, suscipit, doloribus quaerat.
      </div>
      <div class="card-historial-completo__chat-line"></div>

      <span class="card-historial-completo__informacion--subtitulo">
        Recursos :
      </span>
      <div class="dialog__resources-container">
        <div class="dialog__resources-element">
          <mat-icon class="dialog__resources-icon dialog__resources-icon--right"
            >description</mat-icon
          >

          <div class="dialog__resources-text">Archive.pdf</div>
        </div>
        <div class="dialog__resources-delete">
          <div class="button__circle button__circle--download">
            <mat-icon
              class="dialog__resources-icon dialog__resources-icon--center"
              >file_download</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
