<div class="container">
  <div fxLayout="row" class="mt-5">
    <div class="title" fxFlex>
      <div class="title__text">Prescripciones</div>
      <div class="title__row"></div>
    </div>
  </div>
  <div class="card-lista-prescripcion card-lista-prescripcion--header">
    <div class="card-lista-prescripcion__nombre-doctor">Especialidad</div>
    <div class="card-lista-prescripcion__nombre-especialista">
      Nombre Paciente
    </div>
    <div class="card-lista-prescripcion__fecha">Fecha Pres.</div>
    <div class="card-lista-prescripcion__button">Acciones</div>
  </div>
  <div *ngFor="let item of listPrescriptionItem; let i = index">
    <div class="card-lista-prescripcion card-lista-prescripcion--row">
      <div class="card-lista-prescripcion__nombre-doctor">
        {{ item.specialtyName }}
      </div>
      <div class="card-lista-prescripcion__nombre-especialista">
        {{ item.firstName }} {{ item.firstSurname }} {{ item.secondSurname }}
      </div>
      <div class="card-lista-prescripcion__fecha">{{ item.consultDate }}</div>
      <div class="card-lista-prescripcion__button">
        <button
          mat-raised-button
          class="button__normal-button"
          (click)="openDialog(item.consultId)"
        >
          Ver
        </button>
      </div>
    </div>
  </div>
</div>
